@(message: String)

@main("GettingStarted") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="http://www.simplecloud.info/img/logo/SCIM_B-and-W_72x24.png" style="padding-top:32px;" />
    </a> 
    <h1>SCIM v1.1 RESTful API Service</h1>
    
    <a type="button" class="btn btn-lg btn-default" href="https://market.mashape.com/soleo/scim"><span class="glyphicon glyphicon-flash"></span> Getting Started</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/soleo"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  @if(message != null){
  <div class="alert alert-success text-center" role="alert">
    @message
  </div>
  }

  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="http://www.simplecloud.info/"> SCIM protocol, version 1.1</a></li>
        <li><a href="http://www.scala-lang.org/documentation/">Scala information</a></li>
        <li><a href="https://www.playframework.com/">Play Framework w/ Scala</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

}
